body,
html {
  height: 100vh;
  margin: 0;
}

/* APP */
.App {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100vh;
}

.MainContent {
  display: grid;
  grid-template-columns: min-content 13fr;
  background-color: fffd;
  margin-right: 2px;
}


/* SIDEBAR */
.sidebar {
  height: 100%;
  background-color: #353535;
}

.sidebar-content {
  display: grid;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.sidebar-content a {
  color: white;
  margin: 10px;
  ;
}

.user-management {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-managment-action {
  margin: 20px;
}

/* USER CARDS */
.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.user-card {
  margin-top: 7px;
  width: 250px;
  align-items: left;
  padding: 10px;
}

.user-card p {
  padding: 10px;
}

.user-content-container {
  display: flex;
}

.label {
  flex: 1;
  text-align: left;
}

.value {
  flex: 1;
  text-align: left;
}

.user-card-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.user-content-separator {
  margin: 1px 0;
}

/* Studengan */

/* general */

/* FORM */
.invalid {
  border: 1px solid red !important;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}